.input{
    padding: 59px 27px 0 29px;
}
.input__title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 187%;
color: #222;
margin-bottom: 13px;
}
.input__text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 187%;
color: #525252;
margin-bottom: 41px;
}
.input__main_block{
    padding: 30px 22.84px 18px 21px;
    background-color: #1B1B1B;
    border-radius: 15px;
}
.input__main_title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 30px;
color: #fff;
margin-bottom: 24px;
}
.input__main_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 15px;
color: #fff;
margin-bottom: 43px;
}
.input__block2{
    background-color: #fff;
    padding: 6px 4.16px 5.22px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.email{
    border: none;
}
.input__btn{
    font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
text-align: center;
color: #fff;
border: none;
border-radius: 8px;
width: 104px;
height: 35px;
background-color:  #dc7000;
}
@media screen and (min-width:940px) {
    .input{
        padding: 145px 135px 0 135px;
    }
    .input__title{
        font-size: 30px;
        margin-bottom: 32px;
    }
    .input__text{
        font-size: 16px;
        margin-bottom: 74px;
        max-width: 545px;
    }
    .input__main_block{
        padding: 40px 50px 42px 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
      
    }
    .input__main_title{
        margin-bottom: 10px;
    }
    .input__main_text{
        margin: 0;
        max-width: 480px;
    }
    .input__block2{
      width: 385px;
    }
}